backend/storage/a72181de-2134-43ee-a968-7ca5a8b5d033/content/dam/dataset-studio/technicalContent/dtd/map.dtd

<!-- Minimal DITA Map DTD stub (general maps) -->
<!ENTITY % map "map">
<!ELEMENT map (title?, topicmeta?, (topicref|keydef|topichead|topicgroup|navref|anchor|reltable|mapref)*)>
<!ATTLIST map
  id CDATA #IMPLIED
  xml:lang CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT topicmeta (navtitle?, shortdesc?, data*, keywords?)>
<!ELEMENT navtitle (#PCDATA)>
<!ELEMENT shortdesc (#PCDATA)>
<!ELEMENT data EMPTY>
<!ATTLIST data name CDATA #IMPLIED value CDATA #IMPLIED>
<!ELEMENT keywords (keyword+)>
<!ELEMENT keyword EMPTY>
<!ATTLIST keyword id CDATA #IMPLIED>
<!ELEMENT topicref EMPTY>
<!ATTLIST topicref
  href CDATA #IMPLIED
  keyref CDATA #IMPLIED
  keys CDATA #IMPLIED
  navtitle CDATA #IMPLIED
  format CDATA #IMPLIED
  type CDATA #IMPLIED
  keyscope CDATA #IMPLIED>
<!ELEMENT keydef EMPTY>
<!ATTLIST keydef keys CDATA #REQUIRED href CDATA #IMPLIED>
<!ELEMENT topichead EMPTY>
<!ATTLIST topichead navtitle CDATA #IMPLIED>
<!ELEMENT topicgroup (topicref|topicgroup)*>
<!ATTLIST topicgroup navtitle CDATA #IMPLIED>
<!ELEMENT navref EMPTY>
<!ATTLIST navref keyref CDATA #IMPLIED href CDATA #IMPLIED mapref CDATA #IMPLIED>
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor id CDATA #IMPLIED>
<!ELEMENT mapref EMPTY>
<!ATTLIST mapref href CDATA #IMPLIED format CDATA #IMPLIED>
<!ELEMENT reltable (relheader?, relrow*)>
<!ELEMENT relheader (relcolspec+)>
<!ELEMENT relcolspec EMPTY>
<!ELEMENT relrow (relcell+)>
<!ELEMENT relcell (topicref)*>
