backend/storage/ac8b8961-4f9f-4656-8cd1-a73e419d9f78/content/dam/dataset-studio/technicalContent/dtd/subjectScheme.dtd

<!-- Minimal subjectScheme map DTD stub -->
<!ELEMENT subjectScheme (subjectdef|enumerationdef)*>
<!ATTLIST subjectScheme id CDATA #IMPLIED>
<!ELEMENT subjectdef (#PCDATA|subjectdef)*>
<!ATTLIST subjectdef keys CDATA #IMPLIED keyref CDATA #IMPLIED>
<!ELEMENT enumerationdef (elementdef, attributedef, subjectdef)>
<!ELEMENT elementdef EMPTY>
<!ATTLIST elementdef name CDATA #REQUIRED>
<!ELEMENT attributedef EMPTY>
<!ATTLIST attributedef name CDATA #REQUIRED>
