backend/storage/e9bbca8f-6870-43f5-a05c-e1c6716c6bf4/content/dam/test/technicalContent/dtd/task.dtd

<!-- Minimal DITA Task DTD stub -->
<!ENTITY % task "task">
<!ELEMENT task (title, shortdesc?, taskbody?, related-links?)>
<!ATTLIST task id CDATA #REQUIRED xml:lang CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT shortdesc (#PCDATA)>
<!ELEMENT taskbody (prereq?, context?, steps?, result?, example?, choicetable?)>
<!ELEMENT prereq (p+)>
<!ELEMENT context (p+)>
<!ELEMENT steps (step+)>
<!ATTLIST steps unordered CDATA #IMPLIED>
<!ELEMENT step (cmd, info?, substeps?)>
<!ATTLIST step importance CDATA #IMPLIED>
<!ELEMENT cmd (#PCDATA)>
<!ELEMENT info (p+)>
<!ELEMENT substeps (substep+)>
<!ELEMENT substep (cmd)>
<!ELEMENT result (p+)>
<!ELEMENT example (p+)>
<!ELEMENT choicetable (chrow+)>
<!ATTLIST choicetable id CDATA #IMPLIED>
<!ELEMENT chrow (choption, chdesc)>
<!ELEMENT choption (#PCDATA)>
<!ELEMENT chdesc (p+)>
<!ELEMENT p (#PCDATA)>
<!ELEMENT related-links (link*)>
<!ELEMENT link EMPTY>
<!ATTLIST link href CDATA #IMPLIED>
